<div class="container">
    <div class="row">
        <h1>Release Branch Screen</h1>
        
    </div>
<hr class="row">

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="row">
                    <p>Batch Reference ID</p>
                </div>
                <div class="row">
                    <p>CV Reference No</p>
                </div>
            </div>
            <div class="col">
                <div class="row">
                   <p>31001230</p> 
                   {{this.batchId}}
                </div>
                <div class="row">
                    <p>00012031001</p>
                    {{this.ref}}
                </div>
            </div>
        </div>
      
     </div>
     <div class="col">
         <div class="row" style="background-color: gray; border:1px solid black;">
             <div style="margin: auto;"><img  src="../../../assets/image/sample_or.png" class="imgPreview" style="max-height: 500px; max-width:650px;"></div>
             
         </div>
     </div>
</div>
   
</div> 
<!--BACKUP-->



