<div class="container" style="margin-top: 5px;">
    <div class="row header">
        <h1>Check Release Screen</h1>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col"><h4>BATCH REFERENCE ID</h4></div>
                <div class="col">{{batchId}}</div>
            </div>
            <div class="row">
                <div class="col"><h4>CV REFERENCE NO</h4></div>
                <div class="col">{{batchId}}</div>
            </div>
        </div>
    </div>
    <hr class="row">
    <div class="row flex" style="background-color: pink;">
        <div class="flex-item">
            <cs-label-text [fc]="getFormControl('ORFC')"></cs-label-text>
            <cs-label-text [fc]="getFormControl('RecipientFC')"></cs-label-text>

        </div>
        <div class="flex-item" style="background-color: green;">
            <div class="image-div">
                <img [src]='this.imgData' class="image-viewer">
            </div>
          <input type="file" (change)="OnFileSelected($event.target.files)">
        </div>
    </div>

</div>