<div class="container" style="padding: 10px;">
    <div class="row">
        <h1>Check Release</h1>
    </div>
    
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="row">
                    Batch ID Reference
                </div>
                <div class="row" style="width:200px;">
                    Check Voucher Reference
                </div>
            </div>

            <div class="col">
                <div class="row">
                    1293912931923
                </div>

                <div class="row">
                    3959123959195
                </div>
            </div>
        </div>
    </div>
</div>