<div class="container" style="padding: 10px;">
    <div class="row">
        <h1>Check Release</h1>
    </div>
    
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="row">
                    Batch ID Reference
                </div>
                <div class="row" style="width:200px;">
                    Check Voucher Reference
                </div>
            </div>

            <div class="col">
                <div class="row">
                    {{this.batchId}}
                </div>

                <div class="row">
                    {{this.ref}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <img [src]="this.srcFile"style="max-width:50%;">
            </div>

            <div class="row">
                <input type="file" (change)="OnFileSelected($event.target.files)">
            </div>

            <div class="row">
                <cs-label-text [fc]="this.getFormControl('RecipientFC')"></cs-label-text>
            </div>
        </div>
    </div>
</div>